<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VUE PRATIQUE : Récupération de données</title>
  <link rel="stylesheet" href="style.css">
  <script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3.5.4/dist/vue.esm-browser.js",
        "vue/server-renderer": "https://cdn.jsdelivr.net/npm/@vue/server-renderer@3.5.4/dist/server-renderer.esm-browser.js"
      },
      "scopes": {}
    }
  </script>
</head>
<body>
  <div id="app">
    <h1>Derniers commits de Vue Core</h1>

    <template v-for="branch in branches">
      <input 
        type="radio" 
        name="branch" 
        :id="branch"
        :value="branch"
        v-model="currentBranch">
        <label for="branch">{{ branch }}</label>
    </template>

    <p>vuesjs/vue@{{ currentBranch }}</p>
    <ul v-if="commits.length > 0">
      <li v-for="{ html_url, sha, author, commit} in commits" :key="sha">
        <a :href="html_url" class="commit" target="_blank">{{sha.slice(0, 7)}}</a>
        - <span class="message">{{ truncate(commit.message) }}</span>
        <br>
        by <span class="author">
          <a :href="author.html_url" target="_blank">{{ commit.author.name }}</a>
        </span>
        at 
        <span class="date">{{ formatDate(commit.author.date) }}</span>
      </li>
    </ul>
  </div>

  <script type="module">
    import { ref, createApp, watchEffect } from 'vue'

    const API_URL = `https://api.github.com/repos/vuejs/core/commits?per_page=20&sha=`
    const branches = ['main', 'v2-compat']
    
    createApp({
      setup() {
        const currentBranch = ref(branches[0])
        const commits = ref([])

        watchEffect(async () => {
          // wachEffect va être exécuté directemet puis de nouveau chaque fois que currentBranch.value change
          const url = `${API_URL}${currentBranch.value}`
          commits.value = await (await fetch(url)).json()
        })

        function truncate(v) {
          const newline = v.indexOf('\n')
          return newline > 0 ? v.slice(0, newline) : v
        }

        function formatDate(v) {
          return v.replace(/T|Z/g, ' ')
        }
        
        return {
          branches,
          currentBranch,
          commits,
          truncate,
          formatDate
        }
      }
    }).mount('#app')
  </script>
</body>
</html>